In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DoubleType
spark = SparkSession.builder \
    .master("local") \
    .appName("Word Count") \
    .getOrCreate()

In [2]:
data = spark.read.csv('Desktop/train.csv',inferSchema=True, header =True)

In [3]:
data.count(), len(data.columns)

(891, 12)

In [4]:
data

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [5]:
data.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [6]:
data.select("Fare").show(15, truncate=False)

+-------+
|Fare   |
+-------+
|7.25   |
|71.2833|
|7.925  |
|53.1   |
|8.05   |
|8.4583 |
|51.8625|
|21.075 |
|11.1333|
|30.0708|
|16.7   |
|26.55  |
|8.05   |
|31.275 |
|7.8542 |
+-------+
only showing top 15 rows

In [7]:
data.describe(["Fare"]).show()

+-------+-----------------+
|summary|             Fare|
+-------+-----------------+
|  count|              891|
|   mean| 32.2042079685746|
| stddev|49.69342859718089|
|    min|              0.0|
|    max|         512.3292|
+-------+-----------------+

In [8]:
data.groupBy("Fare").count().show(50)

+--------+-----+
|    Fare|count|
+--------+-----+
|  8.5167|    1|
|    15.5|    8|
|  133.65|    2|
|  29.125|    5|
| 10.4625|    2|
|  7.0458|    1|
|   9.475|    1|
| 11.1333|    3|
|     0.0|   15|
|  7.7333|    4|
|    73.5|    5|
| 77.2875|    2|
|    15.9|    2|
|    11.5|    4|
|  8.6833|    1|
| 41.5792|    3|
|     9.5|    9|
|  8.4042|    1|
| 14.4542|    7|
| 14.4583|    3|
|    8.85|    1|
|    38.5|    1|
| 27.7208|    5|
| 91.0792|    2|
|  4.0125|    1|
|    46.9|    6|
|  7.8292|    2|
| 20.2125|    2|
| 39.6875|    6|
| 13.7917|    1|
|   6.975|    2|
| 49.5042|    2|
|    15.1|    1|
| 34.6542|    1|
| 57.9792|    2|
|  151.55|    4|
|  7.7875|    1|
|    69.3|    2|
|  7.5208|    1|
|  31.275|    7|
| 14.1083|    1|
|    7.65|    4|
| 31.3875|    4|
|    29.0|    2|
|   7.775|   16|
|  7.2292|   15|
|512.3292|    3|
|  83.475|    2|
|   18.75|    3|
|  8.7125|    1|
+--------+-----+
only showing top 50 rows

In [9]:
data.groupBy("Fare").count().orderBy("count", ascending=False).show(10)

+------+-----+
|  Fare|count|
+------+-----+
|  8.05|   43|
|  13.0|   42|
|7.8958|   38|
|  7.75|   34|
|  26.0|   31|
|  10.5|   24|
| 7.925|   18|
| 7.775|   16|
| 26.55|   15|
|   0.0|   15|
+------+-----+
only showing top 10 rows

In [10]:
condition1 = (data.Fare.isNotNull()) | (data.Fare.isNotNull())
condition2 = data.Fare != "8.05"
data2 = data.filter(condition1).filter(condition2)
data2.show(15,False)

+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |female|35.0|1    |0    |113803          |53.1   |C123 |S       |
|6          |0       |3     |Moran, Mr. James                                   |male  |null|0    |0    |330877          |8.4583 |null |Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                            |male  |54.0|0    |0    |17463           |51.8625|E46  |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                     |male  |2.0 |3    |1    |349909          |21.075 |null |S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  |female|27.0|0    |2    |347742          |11.1333|null |S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                |female|14.0|1    |0    |237736          |30.0708|null |C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                    |female|4.0 |1    |1    |PP 9549         |16.7   |G6   |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                           |female|58.0|0    |0    |113783          |26.55  |C103 |S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                        |male  |39.0|1    |5    |347082          |31.275 |null |S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina               |female|14.0|0    |0    |350406          |7.8542 |null |S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                    |female|55.0|0    |0    |248706          |16.0   |null |S       |
|17         |0       |3     |Rice, Master. Eugene                               |male  |2.0 |4    |1    |382652          |29.125 |null |Q       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 15 rows

In [11]:
data.select("Fare").filter(data.Fare == "7.65").show(truncate=False)

+----+
|Fare|
+----+
|7.65|
|7.65|
|7.65|
|7.65|
+----+

In [12]:
data2.groupBy("Fare").count().orderBy("count",ascending=False).show()

+-------+-----+
|   Fare|count|
+-------+-----+
|   13.0|   42|
| 7.8958|   38|
|   7.75|   34|
|   26.0|   31|
|   10.5|   24|
|  7.925|   18|
|  7.775|   16|
|    0.0|   15|
|  26.55|   15|
| 7.2292|   15|
|   7.25|   13|
| 8.6625|   13|
| 7.8542|   13|
|  7.225|   12|
|   16.1|    9|
|    9.5|    9|
|   15.5|    8|
|  24.15|    8|
|56.4958|    7|
|  69.55|    7|
+-------+-----+
only showing top 20 rows

In [13]:
data2 = data.withColumn("1", data["Fare"].cast(DoubleType()))

In [14]:
data2

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string, 1: double]